#### 1024 수열의 합

In [54]:
N,L=map(int,input().split())
for ik in range(L,101):
    arr=[ik for ik in range(ik)]
    C=sum(arr)
    if N-C<0:
        print(-1)
        break
    if (N-C)%ik==0:
        for it in arr:
            print(it+(N-C)//ik,end=' ')
        break
    if len(arr)==100:
        print(-1)

1000000000 2
199999998 199999999 200000000 200000001 200000002

#### 1500 최대 곱

In [62]:
S,K=map(int,input().split())
arr=[S//K]*K
n=S%K
for ik in range(n):
    arr[ik]+=1
ans=1
for ik in arr:
    ans*=ik
print(ans)

7 2
12

#### 16439 치킨치킨치킨

In [9]:
from itertools import combinations
N,M=map(int,input().split())
arr=[]
K=[ik+1 for ik in range(M)]
for ik in range(N):
    T=list(map(int,input().split()))
    arr.append(T)
ans=[]
k=list(combinations(K,3))
for ik in k:
    t=0
    a=ik[0]
    b=ik[1]
    c=ik[2]
    for it in range(N):
        t+=max(arr[it][a-1],arr[it][b-1],arr[it][c-1])
    ans.append(t)
print(max(ans))

4 6
1 2 3 4 5 6
6 5 4 3 2 1
3 2 7 9 2 5
4 5 6 3 2 1
25

#### 14225 부분수열의 합

In [14]:
from itertools import combinations
N=int(input())
S=list(map(int,input().split()))
arr=[]
for ik in range(1,N+1):
    k=list(set(list(combinations(S,ik))))
    for it in k:
        arr.append(sum(list(it)))
arr=list(set(arr))
arr.sort()
arr.append(0)
it=1
for ik in arr:
    if ik!=it:
        print(it)
        break
    else:
        it+=1

4
2 1 2 7
6

#### 19698 헛간 청약

In [15]:
N,W,H,L=map(int,input().split())
print(min(N,(W//L)*(H//L)))

7 17 11 5
6

#### 2023 반올림

In [29]:
N=list(map(int,list(input())))
for ik in range(-1,-len(N),-1):
    if N[ik]>=5:
        N[ik-1]+=1
print(N[0]*(10**(len(N)-1)))

446
500

#### 2993 세 부분

In [30]:
S=list(input())
N=len(S)
arr=[]
for ik in range(1,N-2):
    for it in range(ik,N-1):
        t=''
        a=list(reversed(S[:ik]))
        b=list(reversed(S[ik:it+1]))
        c=list(reversed(S[it+1:]))
        t=t+''.join(a)+''.join(b)+''.join(c)
        arr.append(t)
arr.sort()
print(arr[0])

dcbagfekjih
abcdefghijk

#### 4447 좋은놈 나쁜놈

In [35]:
N=int(input())
for ik in range(N):
    name=input()
    g=name.count('g')+name.count('G')
    b=name.count('b')+name.count('B')
    if g>b:
        print(name+' is GOOD')
    elif g<b:
        print(name+' is A BADDY')
    else:
        print(name+" is NEUTRAL")

3
Algorithm Crunching Man
Algorithm Crunching Man is GOOD
Superman
Superman is NEUTRAL
Batman
Batman is A BADDY

#### 14490 백대열

In [1]:
n,m=map(int,input().split(':'))
a=max(n,m)
b=min(n,m)
while(1):
    if a%b==0:
        break
    c=a%b
    a=b
    b=c
print("%d:%d"%(n//b,m//b))

100:10
10:1

#### 1380 귀걸이

In [14]:
T=0
while(1):
    T+=1
    N=int(input())
    if N==0:
        break
    name=[]
    for ik in range(N):
        name.append(input())
    ans=[]
    for ik in range(2*N-1):
        n,p=input().split()
        n=int(n)
        if name[n-1] in ans:
            ans.remove(name[n-1])
        else:
            ans.append(name[n-1])
    print(T,ans[0])

2
al
b
1 b
1 b
2 a
1 b
0

#### 1284  집주소

In [21]:
while(1):
    N=input()
    if N=='0':
        break
    ans=len(N)*3
    if '1' in N:
        ans-=N.count('1')
    if '0' in N:
        ans+=N.count('0')
    ans+=len(N)+1
    print(ans)

120
13
5611
15
100
14
0

#### 1212 8진수 2진수

In [27]:
E=input()
T=int(E,8)
b=bin(T)
print(b[2:])

3333334
11011011011011011100

#### 1049 기타줄

In [36]:
N,M=map(int,input().split())
a=1000
b=1000
for ik in range(M):
    A,B=map(int,input().split())
    if A<a:
        a=A
    if B<b:
        b=B
arr=[N*b]
if N%6==0:
    arr.append((N//6)*a)
else:
    arr.append((N//6+1)*a)
    arr.append((N//6)*a+(N%6)*b)
print(min(arr))

9 16
21 25
77 23
23 88
95 43
96 19
59 36
80 13
51 24
15 8
25 61
21 22
3 9
68 68
67 100
83 98
96 57
6

#### 17413 단어 뒤집기 2

In [63]:
S=input()
arr=[]
while(1):
    if '<' in S:
        arr.append(S[:S.index('<')])
        arr.append(S[S.index('<'):S.index('>')+1])
        S=S[S.index('>')+1:]
    else:
        arr.append(S)
        break
for ik in arr:
    if '<' in ik:
        print(ik,end='')
    else:
        t=list(ik.split())
        T=''
        for it in t:
            T+=' '+''.join(list(reversed(it)))
        print(T[1:],end='')

<   space   >ecaps ecaps ecaps<    spa   c e>
<   space   >space space space<    spa   c e>

#### 14912 숫자 빈도수

In [66]:
n,d=map(int,input().split())
ans=0
for ik in range(1,n+1):
    s=str(ik)
    ans+=s.count(str(d))
print(ans)

100000 6
50000

#### 15954 인형들

In [99]:
N,K=map(int,input().split())
arr=list(map(int,input().split()))
ans=[]
for ij in range(K,N+1):
    for ik in range(N-ij+1):
        A=arr[ik:ik+ij]
        m=sum(A)/ij
        d=0
        for it in range(ij):
            d+=((A[it]-m)**2)/ij
        ans.append(d**(1/2))
print(min(ans))

5 3
1 2 3 4 5
[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[1, 2, 3, 4]
[2, 3, 4, 5]
[1, 2, 3, 4, 5]
0.816496580927726