#### 17427 약수의 합2

In [135]:
N=int(input())
ans=0
for ik in range(1,N+1):
    ans+=(N//ik)*ik
print(ans)

100000
8224740835

#### 2740 행렬곱셈

In [24]:
N,M=map(int,input().split())
arr1=[]
for ik in range(N):
    arr1.append(list(map(int,input().split())))
M,K=map(int,input().split())
arr2=[]
for ik in range(M):
    arr2.append(list(map(int,input().split())))
for ik in range(N):
    k=[]
    for it in range(K):
        temp=0
        for iu in range(M):
            temp+=arr1[ik][iu]*arr2[iu][it]
        k.append(temp)
    print(' '.join(list(map(str,k))))

3 2
1 2
3 4
5 6
2 3
-1 -2 0
0 0 3
-1 -2 6
-3 -6 12
-5 -10 18

#### 3053 택시 기하학

In [38]:
pi=3.14159265359
R=float(input())
print("%.6lf"%(R*R*pi))
print("%.6lf"%(R*R*2))

42
5541.769441
3528.000000

#### 1269 대칭 차집합

In [50]:
N,M=map(int,input().split())
A=set(map(int,input().split()))
B=set(map(int,input().split()))
print(len(A-B)+len(B-A))

3 5
1 2 4
2 3 4 5 6
4

#### 2420 사파리월드

In [51]:
N,M=map(int,input().split())
print(abs(N-M))

-2 5
7

#### 1051 숫자 정사각형

In [21]:
N,M=map(int,input().split())
arr=[]
for ik in range(N):
    temp=list(input())
    temp=list(map(int,temp))
    arr.append(temp)
s=min(N,M)
k=0
for ik in range(s):
    c=s-ik
    for it in range(N-c+1):
        for iu in range(M-c+1):
            if arr[it][iu]==arr[it][iu+c-1]==arr[it+c-1][iu]==arr[it+c-1][iu+c-1]:
                print(c*c)
                k=1
                break
        if k==1:
            break
    if k==1:
        break

11 10
9785409507
2055103694
0861396761
3073207669
1233049493
2300248968
9769239548
7984130001
1670020095
8894239889
4053971072
49

#### 3613 JAVA vs C++

In [39]:
sen=input()
ans=[]
if '_' in sen:
    if sen[0]=='_':
        ans=list("Error!")
    elif sen[-1]=='_':
        ans=list("Error!")
    else:
        c=0
        for ik in sen:
            if ord(ik)<91:
                ans=list("Error!")
                break
            elif ik=='_':
                if c==1:
                    ans=list("Error!")
                    break
                c=1
            else:
                if c==1:
                    ans.append(chr(ord(ik)-32))
                    c=0
                else:
                    ans.append(ik)
else:
    if ord(sen[0])<91:
        ans=list("Error!")
    else:
        for ik in sen:
            if ord(ik)<91:
                ans.append('_')
                ans.append(chr(ord(ik)+32))
            else:
                ans.append(ik)
print(''.join(ans))

_a
Error!

#### 14726 신용카드 판별

In [9]:
# Case 1
T=int(input())
for ik in range(T):
    C=list(map(int,list(input())))
    for it in range(-2,-len(C)-1,-2):
        C[it]=(C[it]*2)//10+(C[it]*2)%10
    if sum(C)%10==0:
        print("T")
    else:
        print("F")

3
2720992711828767
T
3444063910462763
F
6011733895106094
T

In [10]:
# Case 2
T=int(input())
for ik in range(T):
    C=list(map(int,list(input())))
    for it in range(0,len(C),2):
        C[it]=(C[it]*2)//10+(C[it]*2)%10
    if sum(C)%10==0:
        print("T")
    else:
        print("F")

3
2720992711828767
T
3444063910462763
F
6011733895106094
T

#### 11508 2+1 세일

In [16]:
N=int(input())
arr=[]
for ik in range(N):
    arr.append(int(input()))
arr.sort(reverse=1)
cost=0
for ik in range(N//3):
    cost+=(arr[3*ik]+arr[3*ik+1])
for ik in range(N%3):
    cost+=arr[-ik-1]
print(cost)

6
6
4
5
5
5
5
21

#### 11501 주식

In [53]:
# 뒤로풀기
T=int(input())
for ik in range(T):
    N=int(input())
    infor=list(map(int,input().split()))
    ans=0
    M=0
    for ik in range(N-1,-1,-1):
        if M<infor[ik]:
            M=infor[ik]
        else:
            ans+=(M-infor[ik])
    print(ans)

1
7
1 2 3 4 2 1 1
6

#### 16165 걸그룹 마스터 준석이

In [10]:
N,M=map(int,input().split())
dict={}
for ik in range(N):
    G=input()
    dict[G]=[]
    num=int(input())
    for ik in range(num):
        name=input()
        dict[G].append(name)
for ik in range(M):
    Q=input()
    n=int(input())
    if n==1:
        for it in dict:
            if Q in dict[it]:
                print(it)
                break
    if n==0:
        arr=dict[Q]
        arr.sort()
        for it in arr:
            print(it)

3 4
twice
9
jihyo
dahyeon
mina
momo
chaeyoung
jeongyeon
tzuyu
sana
nayeon
blackpink
4
jisu
lisa
rose
jenny
redvelvet
5
wendy
irene
seulgi
yeri
joy

#### 12927 배수 스위치

In [20]:
L=list(input())
ans=0
while(1):
    if 'Y' in L:
        ans+=1
        n=L.index('Y')
        for ik in range(n,len(L),n+1):
            if L[ik]=='Y':
                L[ik]='N'
            else:
                L[ik]='Y'
    else:
        break
print(ans)

YYYNYYYNYYYNYYNYYYYN
4

#### 10994 별찍기 - 19

In [90]:
N=int(input())
# 윗 부분
for ik in range(N-1):
    for it in range(2*ik):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print("*"*(4*(N-ik)-3),end=' ')
    for it in range(2*ik):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print()
    for it in range(2*(ik+1)):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print(" "*(4*(N-(ik+1))-3),end=' ')
    for it in range(2*(ik+1)):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print()
# 중간 부분
print("* "*(2*N-1))
# 아랫 부분
for ik in range(N-2,-1,-1):
    for it in range(2*(ik+1)):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print(" "*(4*(N-(ik+1))-3),end=' ')
    for it in range(2*(ik+1)):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print()
    for it in range(2*ik):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print("*"*(4*(N-ik)-3),end=' ')
    for it in range(2*ik):
        if it%2==1:
            print(' ',end='')
        else:
            print("*",end='')
    print()

5
*****************
*               *
* ************* *
* *           * *
* * ********* * *
* * *       * * *
* * * ***** * * *
* * * *   * * * *
* * * * * * * * *
* * * *   * * * *
* * * ***** * * *
* * *       * * *
* * ********* * *
* *           * *
* ************* *
*               *
*****************

#### 1302 베스트 셀러

In [24]:
dict(B)

{'kimtop': 1, 'top': 4}