#### 1526 가장 큰 금민수

In [1]:
num=int(input())
for ik in range(num,3,-1):
    word=str(ik)
    if '0' in word:
        continue
    else:
        word=word.replace('7','')
        word=word.replace('4','')
        word+='0'
    if int(word)==0:
        print(ik)
        break

100000
77777

#### 1417 국회의원 선거

In [2]:
N=int(input())
dasom=int(input())
arr=[0]
for ik in range(N-1):
    arr.append(int(input()))
mon=0
while(1):
    if dasom>max(arr):
        break
    else:
        dasom+=1
        arr[arr.index(max(arr))]-=1
        mon+=1
print(mon)

1
1
0

#### 2869 달팽이는 올라가고 싶다

In [1]:
A,B,V=map(int,input().split())
if (V-B)%(A-B)==0:
    print((V-B)//(A-B))
else:
    print((V-B)//(A-B)+1)

2 1 5
4

#### 15881 Pen Pineapple Apple Pen

In [2]:
N=int(input())
sen=input()
print(sen.count('pPAp'))

15
ApPApPpAPpApPAp
2

#### 21966 (중략)

In [3]:
N=int(input())
S=input()
if N<=25:
    print(S)
else:
    A=S[11:-11]
    if '.' not in A[:-1]:
        print(S[:11],end='')
        print('...',end='')
        print(S[11+len(A):],end='')
    else:
        print(S[:9],end='')
        print('......',end='')
        print(S[-10:],end='')

11
IamIronMan.
IamIronMan.

#### 5597 과제 안 내신 분..?

In [16]:
arr=[ik+1 for ik in range(30)]
for ik in range(28):
    n=int(input())
    arr.remove(n)
print(arr[0])
print(arr[1])

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

#### 2028 자기복제수

In [16]:
T=int(input())
for ik in range(T):
    n=int(input())
    s=str(n*n)
    if s[-1-len(str(n))+1:]==str(n):
        print('YES')
    else:
        print("NO")

4
1
YES
6
YES
76
YES
89
NO

#### 2417 정수제곱근

In [66]:
n=int(input())
q=int(n**(1/2))
while(1):
    if q*q>=n:
        print(q)
        break
    q+=1

122333444455555
11060446

#### 11050 이항 계수 1

In [72]:
N,K=map(int,input().split())
n=1; k=1;
for ik in range(K):
    n*=(N-ik)
    k*=(ik+1)
print(n//k)

5 3
10

#### 1735 분수 합

In [81]:
a1,b1=map(int,input().split())
a2,b2=map(int,input().split())
A=a2*b1+a1*b2
B=b1*b2
M=max(A,B)
m=min(A,B)
while(1):
    N=M%m
    if N==0:
        break
    else:
        M=m; m=N;
print(A//m, B//m)

1 12
1 12
1 6

#### 1246 온라인 판매

In [105]:
N,M=map(int,input().split())
P=[]
for ik in range(M):
    P.append(int(input()))
P.sort()
ans=[]
for ik in range(M):
    buy=[it>=P[ik] for it in P]
    if sum(buy)<=N:
        ans.append(sum(buy)*P[ik])
    else:
        ans.append(N*P[ik])
print(P[ans.index(max(ans))],max(ans))

5 4
2
8
10
7
7 21

#### 1032 명령 프롬프트

In [112]:
N=int(input())
sen=list(input())
for ik in range(N-1):
    vs=list(input())
    for ik in range(len(vs)):
        if sen[ik]!=vs[ik]:
            sen[ik]='?'
print(''.join(sen))

1
onlyonefile
onlyonefile

#### 17283 I am Groot

In [10]:
L=int(input())
R=int(input())
ans=0; ik=1;
while(1):
    L=int(L*(R/100))
    if L<=5:
        break
    ans+=L*(2**ik)
    ik+=1; 
print(int(ans))

500
30
588

#### 1969 DNA

In [38]:
N,M=map(int,input().split())
dna=[]
nc=['A','C','G','T']
ans=''
d=0
for ik in range(N):
    dna.append(input())
for ik in range(M):
    arr=[0]*4
    col=[it[ik] for it in dna]
    for iu in range(4):
        arr[iu]=col.count(nc[iu])
    ans+=nc[arr.index(max(arr))]
    d=d+N-max(arr)
print(ans)
print(d)

6 10
ATGTTACCAT
AAGTTACGAT
AACAAAGCAA
AAGTTACCTT
AAGTTACCAA
TACTTACCAA
AAGTTACCAA
12

#### 1296 팀이름 정하기

In [8]:
Y=input()
love=[Y.count("L"),Y.count("O"),Y.count("V"),Y.count("E")]
N=int(input())
m=-1; ans=''
name=[]
for ik in range(N):
    name.append(input())
name.sort()
for ik in name:
    L=love[0]+ik.count("L")
    O=love[1]+ik.count("O")
    V=love[2]+ik.count("V")
    E=love[3]+ik.count("E")
    p=((L+O)*(L+V)*(L+E)*(O+V)*(O+E)*(V+E))%100
    if m<p:
        m=p
        ans=ik
print(ans)

LILLY
1
PIERRE
PIERRE

#### 2456 나는 학급회장이다

In [9]:
(11339)**(1/2)

106.48474069086143

#### 16917 양념반 후라이드 반

In [46]:
A,B,C,X,Y=map(int,input().split())
arr=[]
arr.append(A*X+B*Y)
if X>=Y:
    arr.append(Y*2*C+(X-Y)*A)
    arr.append(X*2*C)
    arr.append(Y*B+A*2*X)
else:
    arr.append(X*2*C+(Y-X)*Y)
    arr.append(Y*2*C)
    arr.append(X*A+B*2*Y)
print(min(arr))

78 1 4 10 8
80

6398500

In [42]:
B*2*C

6400000